/* CSS Document */
/* MyFollowers Widget */
.count-wrapper{
	margin: 1em .5em 0;
	padding: 0;
	border: 1px solid #E2E6E8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
-webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.3);
box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.3);
}

.count-wrapper .count-box{
	padding: .5em .5em;
	border-bottom: 1px solid #E2E6E8;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 30%,
		#f3f3f5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.30, #ffffff),
		to(#f3f3f5));
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #535353;
}



.count-wrapper .count-box .count{
	float: left;
	clear: none;
	margin: 0 1% 0 0;
	font-weight: bold;
}
.count-wrapper .count-box .label{
	margin: 0 1% 0 0;
	font-weight: normal;
}
.count-wrapper .count-box a.btn {
	float: right;
	clear: none;
	margin: 0 .5em 0 0;
	padding: 0 .5em;
	background: -moz-linear-gradient(
		top,
		#D9D9D9 0%,
		#ffffff 50%,
		#f0f0f3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#D9D9D9),
		color-stop(0.50, #ffffff),
		to(#f0f0f3));
	border: 1px solid #D2D6D8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: 600;
	font-size: .9em;
	color: #636373;
}

.count-wrapper .count-box a.btn:hover {
	background: -moz-linear-gradient(
		top,
		#F9F9F9 0%,
		#ffffff 50%,
		#D0D0D3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#F9F9F9),
		color-stop(0.50, #ffffff),
		to(#D0D0D3));
	border: 1px solid #D2D6D8;
	color: #939393;
	text-decoration: none;
}

.count-wrapper .count-box .img{
	background-repeat: no-repeat;
	background-position: top left;
	width: 28px;
	height: 28px;
	float: left;
	clear: none;
	margin: 0 2% 0 0;
}
.count-wrapper .facebook .img{ background-image: url(images/facebook.png)}
.count-wrapper .twitter .img{ background-image: url(images/twitter.png)}
.count-wrapper .linkedin .img{ background-image: url(images/linkedin.png)}
.count-wrapper .pinterest .img{ background-image: url(images/pinterest.png)}
.count-wrapper .gplus .img{ background-image: url(images/gplus.png)}
.count-wrapper .instagram .img{ background-image: url(images/instagram.png)}
.count-wrapper .rss .img{ background-image: url(images/rss.png)}
.count-wrapper .email .img{ background-image: url(images/email.png)}

.total-wrapper{
	margin: .25em 0;
	padding: .5em;
	border: 1px solid #E2E6E8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #E2E2E2;
	-webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.3);
}

.total-wrapper .count-box {
	margin: 0 0;
	padding: .5em;
	border: 1px solid #E2E6E8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	vertical-align: middle;
}

.total-wrapper .count-box .label{
	font-weight: bold;
	font-size: 1em;
	padding: 0 .5em;
	vertical-align: middle;
}

.total-wrapper .count-box .number{
	padding-left: .5em;
	font-size: 2em;
	border-left: 1px solid #838383;
	vertical-align: middle; 
}

