/* CSS Document */
p {margin: 2px 0!important;}

.box {
	margin: .25em;
	padding: .5em;
	border: 1px solid #CBCBCB;
	background-color: #FAFAFA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

label { font-weight: 600; }
.label { font-weight: bold; font-size: 1.3em; color: #003366;}

.note{ font-size: .9em; font-style:italic; margin: -1px 0 5px; color: #660000;}

